.programming-learning{
    margin: 100px auto;

}
.programming-learning-title{
    font-size: 35px;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    color: var(--main-color);
    width: max-content;
    margin: auto;
    padding: 10px 20px;
}
.programming-learning .buttons{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    direction: ltr;
}
.programming-learning .buttons .link-item{
    
    background-color: var(--main-color);
    margin: 30px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
    width: 40%;
    text-align: center;
    border-radius: 10px;

}
.front-end{
    margin: 100px 0px;
}
.front-end .frontend-title{
    font-size: 35px;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    color: var(--main-color);
    width: max-content;
    margin: auto;
    padding: 10px 20px;
}

 .box{
    width: 70%;
    margin: 50px 0px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px 0px 16px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 16px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 16px -9px rgba(0,0,0,0.75);
}


 .box .box-title{
    font-size: 30px;
    color: var(--main-color);
}
 .box p{
    line-height: 1.5;
    font-size: 18px;
}
.box p span {
   display: block;
   margin: 15px 0;
   font-weight: bold;
   font-size: 22px;
}

.python-title{
    font-size: 35px;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    color: var(--main-color);
    width: max-content;
    margin: 50px auto;
    padding: 10px 20px;
}
.python p {
    color: #000;
    margin-top: 30px;
    line-height: 1.7;
    font-weight: bold;


}
.graphic-title{
    font-size: 35px;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    color: var(--main-color);
    width: max-content;
    margin: 50px auto;
    padding: 10px 20px;  
}
.graphic  p {
    color: #000;
    margin-top: 30px;
    line-height: 1.7;
    font-weight: bold;
}
.icdl-title{
    font-size: 35px;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    color: var(--main-color);
    width: max-content;
    margin: 50px auto;
    padding: 10px 20px; 
}
.icdl  p {
    color: #000;
    margin-top: 30px;
    line-height: 1.7;
    font-weight: bold;
}

@media screen and (max-width :500px){
   
    .programming-learning-title{
        font-size: 25px;
    }
    .programming-learning .buttons{
        margin-top: 70px;
    }
    .programming-learning .buttons .link-item{
        font-size: 20px;
        width: 90%;
    
    }
 
    .front-end .frontend-title{
        font-size: 25px;
        width: 300px;
        padding: 10px 20px;
    }
    
     .box{
        width: 100%;
    }
    
    
     .box .box-title{
        font-size: 20px;
        line-height: 1.5;
    }
     .box p{
        line-height: 1.5;
    }
    .python-title{
        font-size: 25px;
        width: 300px;
    }
    .graphic-title{
        font-size: 25px;
        width: 300px;
    }
    .icdl-title{
        font-size: 25px;
        width: 300px;
    }
}