.header{
  color: #000;
}
.information{
    text-align: center;
    
}
.information h2{
  font-size: 50px;
  padding: 30px;
  width: max-content;
  margin: auto;
  margin-top: 100px;
  color: var(--main-color);
  z-index: -999;
  -webkit-box-shadow: -2px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: -2px 3px 5px -2px rgba(0,0,0,0.75);
  

}
.information p{
    font-size: 25px;
    margin-top: 50px;
    line-height: 1.7;
    font-weight: bold;
    color: grey;
}

@media screen and (max-width : 768px) {

  .information h2{
    font-size: 30px;
    padding: 30px;
    width: 100%;
    line-height: 1.5;
   
  }
  .information p{
      font-size: 25px;
      margin-top: 80px;
      line-height: 1.7;
      font-weight: bold;
      color: grey;

  }
}