.courses{
    margin-top: 100px;
}
.courses h2{
    text-align: center;
    color: var(--main-color);
    font-size: 40px;
    border: 3px dotted var(--main-color);
    width: max-content;
    margin: 50px auto ;
    padding: 20px;  
}
.all-courses{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.all-courses .course{
    width: 30%;
    margin: 20px;
    padding: 30px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 10px -3px rgba(0,0,0,0.63);
    -moz-box-shadow: -1px 5px 10px -3px rgba(0,0,0,0.63);
    box-shadow: -1px 5px 10px -3px rgba(0,0,0,0.63)

}
.all-courses .course > *{
    margin-bottom: 10px;
    text-align: center;
}
.all-courses .course p{
    font-size: 25px;
    font-weight: bold;
    color: #000;
    padding: 5px;
    border-radius: 10px;
}
.all-courses .course img{
    width: 100%;
}
.all-courses .course .btn-course{
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    color: #000;
    border-radius: 10px;
    border: 2px dotted var(--main-color);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;  
    transition: all 0.5s ease;
}
.all-courses .course .btn-course:hover{
   background-color: #ccc;
   color:#000;
}

@media screen and (max-width : 480px) {
    .courses{
        margin-top: 0px;
    }
    .courses h2{
        font-size: 30px;
        border: 2px dotted gold; 
    }
    .all-courses{
        flex-direction: column;
    }
    .all-courses .course{
        width: 95%;
    }
    .all-courses .course p{
        font-size: 20px;
    }
}